<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recognize</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <h1>회원 센터 출입</h1>
    <video id="webcam" width="640" height="480" autoplay muted="muted"></video><br>
    <button class="ui inverted teal button" id="enterButton">센터 입실</button>
    <button class="ui inverted brown button" id="exitButton">센터 퇴실</button>
    <a class="ui inverted secondary button" href="/">돌아가기</a>
    <p id="resultMessage"></p>
    
    <script>
        // let registeredFace;
        const videoElement = document.getElementById('webcam');
        // const registerButton = document.getElementById('registerButton');
        // const recognizeButton = document.getElementById('recognizeButton');
        const resultMessage = document.getElementById('resultMessage');
        let isProcessingFrame = false;
        const enterButton = document.getElementById('enterButton');
        const exitButton = document.getElementById('exitButton');
        // 전역 변수로 인터벌 ID 저장
        let faceRecognitionIntervalId = null;

        // 웹 카메라 스트리밍
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                videoElement.srcObject = stream;
                videoElement.play();
                // startFaceRecognition();
            })
            .catch(error => {
                console.error('Error accessing webcam:', error);
                alert('웹캠에 접근할 수 없습니다. 웹캠 권한과 브라우저 호환성을 확인해주세요.');
            });

        enterButton.addEventListener('click', () => {
            startFaceRecognition('enter');
        })
        exitButton.addEventListener('click', () => {
            startFaceRecognition('exit');
        });
        
        function clearFaceRecognitionInterval() {
            if (faceRecognitionIntervalId !== null) {
                clearInterval(faceRecognitionIntervalId);
                faceRecognitionIntervalId = null;
            }
        }

        function startFaceRecognition(action) {
            clearFaceRecognitionInterval(); // 기존 인터벌 취소
            faceRecognitionIntervalId = setInterval(async () => {
                if (isProcessingFrame) return; // 이전 프레임 처리가 완료될 때까지 대기
                isProcessingFrame = true;

                const canvas = document.createElement('canvas');
                canvas.width = videoElement.videoWidth;
                canvas.height = videoElement.videoHeight;
                const context = canvas.getContext('2d');
                context.drawImage(videoElement, 0, 0, canvas.width, canvas.height);

                // 캔버스에서 이미지 데이터를 바이너리로 변환
                canvas.toBlob(async blob => {
                    const formData = new FormData();
                    formData.append('image', blob, 'image.jpg');
                    formData.append('action', action)

                    try {
                        const response = await fetch('/recognize_face', {
                            method: 'POST',
                            body: formData,
                        });
                        const data = await response.text();
                        if (data) {
                            alert(data); // 서버로부터 받은 응답을 사용자에게 alert로 표시
                        }
                    } catch (error) {
                        console.error('Error recognizing face:', error);
                    }
                    isProcessingFrame = false;
                }, 'image/jpeg');
            }, 4000); // 4초 간격으로 얼굴 인식 요청
        }
    </script>
</body>
</html>