<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <h1>RS Fitness Center 회원 출입 관리 시스템</h1>
    <hr>
    <a class="ui inverted primary button" href="/regist">회원 얼굴 등록</a>
    <a class="ui inverted primary button" href="/enterexit">회원 센터 출입</a>
    <p id="resultMessage"></p>
</body>