<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regist</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <h1>회원 얼굴 등록</h1>
    <video id="webcam" width="640" height="480" autoplay muted="muted"></video><br>
    <label for="userName">'회원명+전화번호 뒷자리'를 입력해 주세요.</label><br>
    <input type="text" id="userName" placeholder="예시 홍길동1234"><br>
    <button class="ui inverted red button" id="registerButton">얼굴 등록</button>
    <a class="ui inverted secondary button" href="/">돌아가기</a>
    <p id="resultMessage"></p>
    
    <script>
        // let registeredFace;
        const videoElement = document.getElementById('webcam');
        const registerButton = document.getElementById('registerButton');
        // const recognizeButton = document.getElementById('recognizeButton');
        const resultMessage = document.getElementById('resultMessage');
        // let isProcessingFrame = false;
        // const startRecognitionButton = document.getElementById('startRecognitionButton');

        // 웹 카메라 스트리밍
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                videoElement.srcObject = stream;
                videoElement.play();
                // startFaceRecognition();
            })
            .catch(error => {
                console.error('Error accessing webcam:', error);
                alert('웹캠에 접근할 수 없습니다. 웹캠 권한과 브라우저 호환성을 확인해주세요.');
            });

        // 등록된 얼굴 등록 버튼 클릭 이벤트
        registerButton.addEventListener('click', () => {
            const canvas = document.createElement('canvas');
            canvas.width = videoElement.width;
            canvas.height = videoElement.height;
            const context = canvas.getContext('2d');
            context.drawImage(videoElement, 0, 0, canvas.width, canvas.height);
            const imageDataURL = canvas.toDataURL('image/jpeg');
            const userName = document.getElementById('userName').value;

            // 캔버스에서 이미지 데이터를 바이너리로 변환
            canvas.toBlob(blob => {
                const formData = new FormData();
                formData.append('image', blob, 'image.jpg');
                formData.append('user_name', userName);

                // 바이너리 데이터를 서버로 전송
                fetch('/register_face', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.text())
                .then(data => {
                    // 서버에서 반환한 메시지를 alert 창으로 띄우기
                    alert(data);
                })
                .catch(error => console.error('Error registering face:', error));
            }, 'image/jpeg');
        });
    </script>
</body>
</html>